.main--projet {
    display: block;
    margin: 100px;
    background-color: rgb(224, 209, 209);
    border-radius: 10px;

    .title--container {
        display: flex;
        justify-content: center;
        align-items: center;

        .projets {
            font-size: 3rem;
            font-weight: bold;
            text-align: center;
            margin: 0;
            padding: 50px 0 40px;
        }

        img {
            width: 80px;
            height: 80px;
        }
    }

   

    .container {
        display: flex;
        padding: 0 75px 40px;
        gap: 75px;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .card {
            position: relative;
            display: flex;
            align-items: center;
            width: 45%;
            height: auto;
            padding: 3px;
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        
            .card--img {
                width: 100%;
                height: auto;
                aspect-ratio: 16/9;
                object-fit: fill;
                border-radius: 5px;
            }
        
            .pastille {
                display: flex;
                align-items: center;
                width: 50px;
                height: 50px;
                position: absolute;
                bottom: 5px;
                right: 5px;
                background-color: rgb(0, 0, 0);
                border-radius: 50px;
                padding: 5px;
        
                &--tech {
                    width: 100%;
                    height: auto;
                    object-fit: fill;
                }  
            }
        }
    }

   
}

.hover-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0; 
    transition: opacity 0.25s ease-in-out; 
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
}
  
.card:hover .hover-image {
    opacity: 1; 
}

.kasa--accueil {
    width: 50%;
    height: 200px;
    object-fit: contain;

    img{
        width: 100%;
        height: 100%;
    }
}

.kasa--a_propos {
    width: 50%;
    height: 200px;
}

.kasa--details {
    width: 50%;
    height: 200px;
}