.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 50px;
    font-size: 2rem;
    font-weight: bold;

    a {
        text-decoration: none;
        cursor: pointer;
        color: rgb(158, 30, 30);
    }

    a:hover {
        transform: scale(1.1);
        color: rgb(61, 12, 12);
    }
}

.main--projet {
    min-width: 350px;
    display: block;
    margin: 0 100px 100px;
    background-color: rgb(224, 209, 209);
    border-radius: 10px;

    @media screen and (max-width: 1050px) {
        margin: 50px;
    }  

    @media screen and (max-width: 650px) {
        margin: 0;
        border-radius: 0;
    }  

    .title--container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0 40px;
        margin: 0;

        img {
            width: 80px;
            height: 80px;

            @media screen and (max-width: 650px) {
                width: 40px;
                height: 40px;
             } 
        }
    }

   

    .container {
        display: flex;
        padding: 0 50px 40px;
        gap: 75px;
        justify-content: space-evenly;
        flex-wrap: wrap;

        @media screen and (max-width: 1050px) {
            gap: 15px;
            padding: 0 0 20px;
        }  

        .card {
            position: relative;
            display: flex;
            align-items: center;
            width: 45%;
            height: auto;
            padding: 3px;
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 5px;

            @media screen and (max-width: 1050px) {
                width: 90%;
            }  
        
            .card--img {
                width: 100%;
                height: auto;
                aspect-ratio: 16/9;
                object-fit: fill;
                border-radius: 5px;
            }
        
            .pastille {
                display: flex;
                align-items: center;
                width: 50px;
                height: 50px;
                position: absolute;
                bottom: 5px;
                right: 5px;
                background-color: rgb(0, 0, 0);
                border-radius: 50px;
                padding: 5px;
        
                &--tech {
                    width: 100%;
                    height: auto;
                    object-fit: fill;
                }  
            }
        }
    }

   
}

.hover-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0; 
    transition: opacity 0.25s ease-in-out; 
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;

    button {
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 1.1rem;
        font-weight: 700;
    }
}
  
.card:hover .hover-image {
    opacity: 1; 
}

.kasa--accueil {
    width: 50px;
    height: 50px;
    object-fit: contain;

    img{
        width: 100%;
        height: 100%;
    }
}

.kasa--a_propos {
    width: 50px;
    height: 50px;
    object-fit: contain;

    img{
        width: 100%;
        height: 100%;
    }
}

.kasa--details {
    width: 50px;
    height: 50px;
    object-fit: contain;

    img{
        width: 100%;
        height: 100%;
    }
}


